<div class="container">
  <div class="card form-styles" style="width: 25rem;">
    <div class="card-block">
      <h2 class="header-font card-title text-center">Your Observation</h2>
      <%= form_for [@observation] do |f| %>
        <%= f.label :student_id %>
        <%= f.select :student_id, @students.collect { |student| [ student.full_name, student.id] } %></br>
        <%= f.label :date %>
        <%= f.date_field :date %></br>
        <%= f.label :subject %>
        <%= f.select :subject, options_for_select(@klass_names) %></br>
        <%= f.label :ob_type_strength, 'Strength' %>
        <%= f.radio_button :ob_type, 'Strength' %>
        <%= f.label :ob_type_neutral, 'Neutral' %>
        <%= f.radio_button :ob_type, 'Neutral' %>
        <%= f.label :ob_type_needs_improvement, 'Needs Improvement' %>
        <%= f.radio_button :ob_type, 'Needs Improvement' %></br>
        <%= f.label :parent_viewable, "Check to make viewable to parents" %>
        <%= f.check_box :parent_viewable %></br>
        <%= f.label :comment %>
        <%= f.text_area :comment %></br>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
