<div class="container">
  <div class="card w-50">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"> <%= @student.full_name %> </h4>
        <h6 class="card-subtitle mb-2 text-muted"> Grade Level:  <%= @student.grade_level %> </h6>
        <h6 class="card-subtitle mb-2 text-muted"> Email: <%= @student.email %> </h6>
        <h6 class="card-subtitle mb-2 text-muted"> Notes: <%= @student.notes%> </h6>
        <h6 class="card-subtitle mb-2 text-muted"> Classes:</h6>
        <% @student.klasses.each do |klass| %>
          <%= link_to klass.title, klass_path(klass)%></br>
        <% end %>
        <%= link_to "View Observations", students_observations_path(@student), class: "btn btn-primary" %>
        <% if current_user.admin? %>
          <td><%= link_to "Update", edit_admin_student_path(@student), class: "btn btn-primary" %></td>
          <td><%= link_to "Delete", admin_student_path(@student), class: "btn btn-primary", method: :delete %></td>
        <% end %>
      </div>
    </div>
  </div>
</div>
