<div class="container">
  <h1 class="header-font page-heading">All Students</h1>

  <table class="table table-bordered table-hover table-color">
    <thead>
      <tr class="table-head-style">
        <th></th>
        <th>Name</th>
        <th>Grade</th>
        <th>Student Details</th>
        <th>Current Observations</th>
        <th>New Observation</th>
        <th>Update Student Information</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @students.each do |student| %>
      <tr class="student">
        <th scope="row"></th>
        <td> <%= student.full_name %></td>
        <td> <%= student.grade_level %></td>
        <td><%= link_to "Student Details", student_path(student), class: "btn btn-primary" %></td>
        <td><%= link_to "View Observations", students_observations_path(student), class: "btn btn-primary" %></td>
        <td><%= link_to "New Observation", new_observation_path, class: "btn btn-primary" %></td>
        <td><%= link_to "Update", edit_admin_student_path(student), class: "btn btn-primary" %></td>
        <td><%= link_to "Delete", admin_student_path(student), class: "btn btn-primary", method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
