<h1>Observations for <%= @student.full_name %> </h1>

<h1>Enter new observation</h1>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Subject</th>
      <th>Type</th>
      <th>Content</th>
      <th>Parent Viewable</th>
      <th>Author</th>
      <th>Full View</th>
    </tr>
  </thead>
  <tbody>
    <% @observations.each do |observation| %>
    <tr class="observation">
      <th scope="row"></th>
      <td> <%= observation.date %></td>
      <td> <%= observation.subject %></td>
      <td> <%= observation.ob_type %></td>
      <td> <%= observation.comment %></td>
      <td> <%= observation.parent_viewable %></td>
      <td> <%= observation.user.full_name %></td>
      <td><%= link_to "View", observation_path(observation), class: "btn btn-primary" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
