<div class="container">

  <h1 class="header-font page-heading">All Classes</h1>

  <table class="table table-bordered table-hover table-color">
    <thead>
      <tr class="table-head-style">
        <th></th>
        <th>Title</th>
        <th>School Year</th>
        <th>Teacher</th>
        <th>Description</th>
        <th>View</th>
        <% if current_user.admin? %>
          <th>Update</th>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @klasses.each do |klass| %>
      <tr class="klass">
        <th scope="row"></th>
        <td> <%= klass.title %></td>
        <td> <%= klass.school_year %></td>
        <td> <%= klass.user.full_name %></td>
        <td> <%= klass.description %></td>
        <td><%= link_to "View", klass_path(klass), class: "btn btn-primary" %></td>
        <% if current_user.admin? %>
          <td><%= link_to "Update", edit_admin_klass_path(klass), class: "btn btn-primary" %></td>
          <td><%= link_to "Delete", admin_klass_path(klass), class: "btn btn-primary", method: :delete %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
