<h1> <%=@klass.title %> </h1>
<h3> Teacher: <%= @klass.user.full_name %> </h3>
<h3> Year: <%= @klass.school_year %> </h3>
<p> <%= @klass.description %> </p>

<%= link_to '<< Back To Classes', dashboard_path %>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Grade</th>
      <th>Current Observations</th>
      <th>New Observations</th>
    </tr>
  </thead>
  <tbody>
    <% @klass.students.each do |student| %>
    <tr class="student">
      <th scope="row"></th>
      <td> <%= student.full_name %></td>
      <td> <%= student.grade_level %></td>
      <td> <a href="#" class="btn btn-primary">View Observations</a></td>
      <td> <a href="#" class="btn btn-primary">New Observations</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
