<div class="container">
  <div class="centered">
    <div class="card w-75 text-center card-deck-margin show_styles card-border-styles">
      <div class="card-block">
        <h1 class="card-title show-title"> <%= @klass.title %> </h1></br>
        <h5 class="card-subtitle mb-2"> Teacher: <%= @klass.user.full_name %> </h5>
        <h5 class="card-subtitle mb-2"> School Year: <%= @klass.school_year%> </h5>
        <p class="card-text text-muted"> <%= @klass.description %> </p>
        <%= link_to "Students", klass_students_path(@klass), class: "btn btn-link" %>
      </div>
    </div>
  </div>
</div>
